.bookmarksWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.bookmarksContainer {
    width: 90%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bookmark {
    background-color: #aed4ff66;
    width: 46%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.bookmark:hover {
    background-color: #a2b3c566;
}

.Bleft,
.Bright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 1rem;
}

.Bcity,
.Btemp {
    font-size: 2rem;
    font-weight: 600;
}

.Bcondition,
.BHL {
    font-weight: 600;
}

.delete {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 98%;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

.close {
    font-size: 1.6rem;
    cursor: pointer;
}

.close:hover {
    color: rgb(251, 212, 212);
}

.close:active {
    color: rgb(113, 95, 95);
}

.bookMainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.noBookmark {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3rem 0;
}


@media only screen and (max-width: 600px) {
 

    .bookmark {
        flex-direction: column;
        width: 95%;
        height: 10rem;
        
    }

    .bookMainContainer {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgb(37, 74, 103);
        overflow: scroll;
        height: 100vh;
        transition: 0.5s ease-out;
        z-index: 99;
        padding-bottom: 5rem;
    }

    .bookMainContainer.active {
        left: 0;
    }

    .bookmarksContainer {
        border: none;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        min-height: 100vh;
    }

    .noBookmark {
        font-size: 1.2rem;
    }



}

