.CurrentContainer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right,
.left {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}