.CurrentContainer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right,
.left {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.city {
    font-size: 3rem;
    width: 100%;
}

.deg {
    margin-top: 3.5rem;
    font-size: 4rem;
}

.cond {
    font-size: 1.5rem;
    
}

.bookmarkB {
    cursor: pointer;
}

.bookmarkB:hover {
    background-color: rgb(184, 210, 220);
}

.bookmarkB:active {
    background-color: rgb(121, 142, 150);
}

@media only screen and (max-width: 600px) {
    .CurrentContainer {
        flex-direction: column;
        margin-top: 1rem;
    }

    .deg {
        margin-top: 1rem;
    } 
 }

