.nextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem 0;
}

.day {
    width: 90%;
    border: 1px solid white;
    height: 4rem;
    overflow: hidden;
    transition: 0.5s linear;
    animation: close 0.2s;
}

.dayGeneral {
    width: 90%;
    height: 43rem;
    overflow: hidden;
    transition: 0.5s linear;
    animation: close 0.2s;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.day.active {
    height: auto;
    animation: open 0.2s linear;
}

.day:nth-child(2) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.day:nth-child(4) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top {
    background-color: rgba(240, 240, 240, 0.3);
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 2rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
    color: rgb(0,0,0);
    font-size: 1.2rem;
    cursor: pointer;
}

.sub {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

.static {
    display: flex;
    width: 6rem;
    height: 4rem;
}

.highLow,
.temp {
    font-weight: 600;
}

.maxMin,
.highLowContainer {
    display: flex;
    justify-content: space-around;
    margin: 0 0.5rem;
}


.section {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.sectionIcon {
    font-size: 1.2rem;
}


.genralContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3rem;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    height: 4rem;
    font-weight: 600;
}

.rowTitle {
    display: flex;
}

.rowIcon {
    margin: 0 1rem;
    font-size: 1.4rem;
}

.noShow {
    opacity: 0;
    margin: 0 1rem;
    font-size: 1.4rem;
}


@keyframes open {
    0%{
        height: 4rem;
    }
    100%{
        height: 60rem;
    }
}

@keyframes close {
    0%{
        height: 60rem;
    }
    100%{
        height: 4rem;
    }
}

@keyframes openM {
    0%{
        height: 4rem;
    }
    100%{
        height: 35rem;
    }
}

@keyframes closeM {
    0%{
        height: 35rem;
    }
    100%{
        height: 4rem;
    }
}

@media only screen and (max-width: 600px) {

    .genralContainer {
        padding-bottom: 0;
    }

    .nextContainer {
        padding-top: 0rem;
    }

    .card {
        height: 8rem;
        width: 8rem;
    }

    .day {
        animation: closeM 0.2s;
    }

    .day.active {
        height: auto;
        animation: openM 0.2s;
    }

    .cardIcon {
        font-size: 1.5rem;
    }
    
    .data {
        padding: 1rem 0;
    }

    .cardTitle {
        font-size: 1.1rem;
    }

    .data {
        font-size: 1rem;
    }

    .dayGeneral {
        height: 40rem;
    }
    
}
